.country-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.country-text {
  position: absolute;
  display: flex;
  bottom: 0;
  color: rgb(0, 0, 0);
  width: 300px;
  background: linear-gradient(to bottom, transparent, rgb(151, 151, 151))
    rgba(107, 107, 107, 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: center;
}

.search-country-main-title {
  font-size: 40px;
}

.search-country-box {
  display: flex;
  flex-direction: row;
  padding: 3px;
}
.search-country-box:hover {
  background-color: rgb(245, 245, 245);
}

.search-country-country-text {
  font-size: 15px;
  color: blue;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 15px;
}

.search-country-title-text {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.search-country-helper-text-box {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.search-country-helper-text {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: gray;
  margin-right: 20px;
  padding-top: 2px;
}

.search-country-icon {
  font-size: 18px;
  color: black;
  margin-right: 5px;
}
