.home-title-text {
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 0;
}

.home-popular-box {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}
.home-popular-box:hover {
  background-color: rgb(245, 245, 245);
}

.home-popular-country {
  font-size: 15px;
  color: blue;
  margin-bottom: 0px;
}

.home-popular-title-text {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.home-popular-helper-text-box {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  max-width: 700px;
  justify-content: space-between;
}

.view-blog-title {
  font-size: 50px;
  font-weight: bold;
}

.view-blog-profile-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.view-blog-profile-view {
  padding-left: 10px;
  color: blue;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
}

.view-blog-description {
  font-size: 15px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.view-blog-like-view-box {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: right;
}

.comment-parent-box {
  border-radius: 20px;
  background-color: rgb(241, 241, 241);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.comment-profile-box {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.comment-profile-box-2 {
  display: flex;
  flex-direction: row;
}

.comment-profile-text-box {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.comment-profile-username-text {
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.comment-content {
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.comment-profile-helper-text {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  color: gray;
  margin-right: 20px;
}

.comment-profile-icon {
  font-size: 15px;
  color: black;
  margin-right: 5px;
}

.comment-profile-description {
  font-size: 12px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.comment-profile-button {
  color: black;
  border-radius: 50px;
  background-color: #d5caae;
  display: flex;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}
.comment-profile-button:hover {
  background-color: #b1a076;
  color: black;
  border-radius: 50px;
}
