.headerButton {
  margin: 5px;
  color: black;
  border-radius: 50px;
}
.headerButton:hover {
  background-color: #f3f3f3;
  color: black;
  border-radius: 50px;
}

.headerSearchBox {
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  background-color: rgb(226, 226, 226);
}
.headerSearchBox:hover {
  background-color: rgb(209, 209, 209);
}

.drawer {
  width: 15em;
  margin-top: auto;
}

.drawer-text {
  font-size: x-large;
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.drawer-text-2 {
  font-size: xx-large;
  margin-top: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.drawer-text-3 {
  font-size: large;
  margin-top: 10px;
}

.drawer-border {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border: 5px solid black;
  padding-top: 10px;
  padding-bottom: 30px;
}

.footer {
  font-size: small;
}

.footer-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background-color: white;
}
